$header-color: #F5F5F5;
$bg-color: #F5F5F5;
$bg2-color: #EEEEEE;
$primary-color: #64B5F6;
$accent-color: #1565C0;
$text-color: rgba(82, 82, 82, 1);
$button-color: #607D8B;
$button-accent-color: #3475A9;
$top: 7vh;
$sliderAnimationSpeed: 35s;
$sliderAnimationNb: 9;